.jumbotron {
    /* background-color: blueviolet; */
    color: black;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  
  .ceta h1{
    color:rgb(7,7, 78);
 
    font-size: 3.5em;;
  }
  .card-body img {
    display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}

.ceta .card:hover{
  color: red;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
}

.btn3{
  height: 70px;
  width: 70%;
  border: 1px solid rgba(130,130,231);
  background: transparent;
  border-radius: 10px;
  color: rgba(130,130,231);
  transition: all 0.4s;
} 
 .btn3:hover{
  
  background: rgba(102,102,214);
  border:none;
  outline: none;
  color:white;
  transition: all 0.4s;
}





/*login and Signup */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}