.jumbotron {
    /* background-color: blueviolet; */
    color: black;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  
  .ceta h1{
    color:rgb(7,7, 78);
 
    font-size: 3.5em;;
  }
  .card-body img {
    display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}

.ceta .card:hover{
  color: red;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 23px -12px rgba(0,0,0,0.75);
}

.btn3{
  height: 70px;
  width: 70%;
  border: 1px solid rgba(130,130,231);
  background: transparent;
  border-radius: 10px;
  color: rgba(130,130,231);
  transition: all 0.4s;
} 
 .btn3:hover{
  
  background: rgba(102,102,214);
  border:none;
  outline: none;
  color:white;
  transition: all 0.4s;
}


 /* .resume {
  background: linear-gradient(rgba(4, 11, 75, 0.719), rgba(4, 26, 100, 0.73)), url(Images/woman.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
} 
.resume h1{
  font-size: 3.8em;
} */